
<form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" name='elektroninis_pastas'  [(ngModel)]='elektroninis_pastas'>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="slaptazodis" name='slaptazodis' [(ngModel)]='slaptazodis'>
    </div>

    <div class="mb-3">
        <label class="form-label">Vardas</label>
        <input type="text" class="form-control"  name='vardas' [(ngModel)]='vardas'>
    </div>
    <div class="mb-3">
        <label class="form-label">Pavardė</label>
        <input type="text" class="form-control"  name='pavarde' [(ngModel)]='pavarde'>
    </div>
    <div class="mb-3">
        <label class="form-label">Telefono numeris</label>
        <input type="text" class="form-control"  name='telefono_numeris' [(ngModel)]='telefono_numeris'>
    </div>
    <div class="mb-3">
        <label class="form-label">Sąskaitos numeris</label>
        <input type="text" class="form-control"  name='saskaitos_numeris' [(ngModel)]='saskaitos_numeris'>
    </div>
    <button type="submit" class="btn btn-primary" (click)="addKlientas()">Submit</button>
</form>

