<p>pagrindinis works!</p>
<p><a routerLink="/kelione">Kelionė</a></p>
<p><a routerLink="/atsisakymas">Kelionės atsisakymas</a></p>
<p><a routerLink="/blokavimas">Kliento blokavimas</a></p>
<p><a routerLink="/busena">Būsenos pasirinkimas</a></p>
<p><a routerLink="/nuomuojamas_automobilis">Nuomuojamo automobilio pasirinkimas</a></p>
<p><a routerLink="/keliones_patvirtinimas">Kelionės patvirtinimas</a></p>
<p><a routerLink="/prisijungimas">Prisijungimas</a></p>
<p><a routerLink="/registracija">Registracija</a></p>
<p><a routerLink="/ataskaitos_laikotarpio_ir_keliones_pradzios_pasirinkimas">Ataskaitos laikotarpio ir keliones pradzios pasirinkimas</a></p>
<p><a routerLink="/profilis">Profilis</a></p>
<p><a routerLink="/vairuotojo_aplikacija">Vairuotojo_aplikacija</a></p>

<p><a routerLink="/nusiskundimai">Nusiskundimai</a></p>
<p><a routerLink="/reklaminiu_zinučiu_sukurimas">Reklaminiu_zinuciu_sukurimas</a></p>
<p><a routerLink="/rezervacijos">Rezervacijos</a></p>
<p><a routerLink="/aplikantos">Aplikantai</a></p>
<p><a routerLink="/vairuotojai">Vairuotojai</a></p>