
<form>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="flag" [(ngModel)]='flag' (click)="delete()">
        <label class="form-check-label" for="flexCheckDefault">
          Komentaras
        </label>
      </div>
    <textarea rows="5" cols="40" name="komentaras" [(ngModel)]='komentaras' (keydown)='onChange($event)' (keyup)='check($event)' *ngIf="flag"> </textarea>
</form>
<button type="button" class="btn btn-danger" *ngIf="flag" (click)="delete()">Ištrinti</button>

<!-- 
pridek i ta kuriame bus 
html
<app-komentavimas (newItemEvent)="addKomentaras($event)"></app-komentavimas>

i ts
  komentaras:string
  addKomentaras(a:string){
    this.komentaras=a
}




user gauti kaip....deti i ta kur nori

ts
import {UserService} from 'src/app/shared.service';
constructor(private userService: UserService) 
  {this.user=this.userService.user}


kai keiti
this.userService.userChange(this.user)
this.service.updateKlientas(this.user).subscribe(res=>{
      alert("Update Succesfull");
    },err=>{
      alert("Something went wrong")
    });
-->