<div class="container">
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Login</h1>
                </div>
                    <form (ngSubmit)="Login()">
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" name='elektroninis_pastas'  [(ngModel)]='elektroninis_pastas'>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control" id="slaptazodis" name='slaptazodis' [(ngModel)]='slaptazodis'>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <div class="mb-3">
                        <button (click)="register=true" style="float:right;background:red;color:white;padding:10px;width=50px">Register</button>
                    </div>

            </div>
            <div class="card" *ngIf="register">
                <div class="text-center">
                    <h1>Register</h1>
                </div>
                <app-registracija   (newItemEvent)="changeBool($event)"></app-registracija>

            </div>
        </div>
    </div>
    
</div>
<p>{{slaptazodis}}</p>