<ul class="list-group list-group-flush" #userInfo>
  <li [className]="flag?'list-group-item disabled':'list-group-item'">Vardas <input name = "vardas"  [(ngModel)]='vardas'></li>
  <li [className]="flag?'list-group-item disabled':'list-group-item'">Elektroninis paštas <input name = "elektroninis_pastas" [(ngModel)]='elektroninis_pastas'></li>
  <li [className]="flag?'list-group-item disabled':'list-group-item'">Slaptažodis <input name = "slaptazodis" [(ngModel)]='slaptazodis'></li>
</ul>
<button (click)="edit()" *ngIf="!flag">Patvirtinti</button>
<br>
<br>
<br>

<button class="btn btn-primary" (click)="enableEdit()" *ngIf="flag">Redaguoti</button>
