
<div class="container" *ngIf="user"> 

    <h3 class="d-flex justify-content-center">Angular 10, Web API, SQL Server App Demo </h3>
    <p>Vartotojas: {{user.vardas}}</p>
    <button style="float:right" (click)="Logout()">Atsijungti</button>
    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <button routerLink="pagrindinis"
            class="m-1 btn btn-light btn-outline-primary" Button>Pagrindinis</button>
        </li>
    </ul>
    </nav>
    <router-outlet [user]='user'></router-outlet>

</div>
<app-prisijungimas *ngIf="!user" [user]='user' (newItemEvent)="changeUser($event)"></app-prisijungimas>


<!--
<a href="pagrindinis">Pagrindinis</a>
<a href="registracija">registracija</a>
<a href="employee">employee</a>
-->
